<div class="users-list_user">
    <div class="users-list_img">
      <img src=<%= user.photo %> alt="">
    </div>
    <div class="users-list_desc">
      <h2 class="users-list_name"><%= user.name %></h2>
      <p class="users-list_posts">Number of Posts: <%= user.posts_counter %></p>
    </div>
</div>