/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 *= require font-awesome
*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
}

.link {
  border: 1px solid black;
  background-color: rgb(127, 151, 219);
  border-radius: 5px;
  color: black;
  padding: 7px;
  box-shadow: 5px 5px;
  outline: 1px solid black;
  font-weight: 700;
  cursor: pointer;
}

/* ### Users List ### */
.users-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 5%;
}

.users-list_user {
  display: flex;
  gap: 30px;
}

.users-list_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 3px solid black;
}

.users-list_img img {
  width: 100%;
  height: 100%;
}

.users-list_desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 3px solid black;
  padding: 3%;
}

.users-list_name {
  font-size: 2.5rem;
}

.users-list_posts {
  font-size: 1.5rem;
  align-self: flex-end;
}

.link-to_user {
  color: black;
}

.link-to_user:hover {
  color: rgb(127, 151, 219);
}

/* ### User ### */
.user {
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 1% 2%;
  border: 3px solid black;
}

.user-container_heading {
  font-size: 1.5rem;
}

.user-container_text {
  font-size: 1.5rem;
}

.user-posts_stats {
  display: flex;
  margin-left: auto;
  gap: 25px;
}

button {
  width: 140px;
  height: 35px;
  font-size: 1.2rem;
  align-self: center;
  box-shadow: 5px 5px;
  outline: 1px solid black;
  background-color: #fff;
  font-weight: 700;
  cursor: pointer;
}

/* ### Posts_list ### */
.posts {
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.post-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.comment {
  display: flex;
  font-size: 1.4rem;
}

.comment p {
  font-weight: 700;
}

.comment p span {
  font-weight: 400;
}

/* ### Post ### */
.single-post {
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.post-container_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-container_stats {
  display: flex;
  gap: 25px;
  margin-left: auto;
}

.post-container_text {
  font-size: 1.5rem;
}

.heart {
  border: none;
  box-shadow: none;
  outline: none;
  width: auto;
  height: auto;
  color: red;
}

.liked {
  color: black;
}

/* ### Comment Box ### */
.comment-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.comment-form_text {
  border: none;
  align-items: center;
  padding: 5px;
  width: 100%;
  height: 25px;
}

.submit-comment {
  padding: 10px;
  background-color: rgb(127, 151, 219);
  border-radius: 5px;
  box-shadow: 5px 5px;
  outline: 1px solid black;
  font-weight: 700;
  cursor: pointer;
}

.user-container_misc {
  display: flex;
  align-items: center;
}

.new-post {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.flash {
  display: flex;
}
